.bg-container {
    background-image: repeating-linear-gradient(rgb(255, 247, 206),rgb(255, 255, 255),rgb(255, 225, 254) 10%, rgb(177, 255, 238) 20%);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .heading-1 {
    color: #080808;
    font-family: 'Roboto';
    text-align: center;
    text-shadow: 2px 2px 4px #ffffff; 
  }
  
  .img-style {
    border-radius: 70%;
    margin: 15px;
    padding: 15px;
    height: 200px;
    width: 200px;
  }
  
  .img-person {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .arrows-content-container {
    display: flex;
    flex-direction: row;
  }
  
  .img-arrows {
    width: 30px;
    height: 30px;
    margin: 15px;
    
  }
  
  .price-name {
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 20px;
    margin-left: 100px;
    margin-right: 100px;
  }
  
  .paragraph {
    color: #000000;
    font-weight: bold;
    text-align: center;
    color: red;
    font-size: 30px;
  }

  .paragraph-1 {
    color: #000000;
    font-family: 'Roboto';
    text-align: center;
    font-weight: bold;
  }
  
  .btn-style {
    background-color: transparent;
    border-width: 0px;
  }

  .card {
    background-image: linear-gradient(rgb(255, 192, 247), rgb(0, 0, 0));
    border-radius: 40px;
    height: 60vh;
    width: 60vh;
  }